# Laravel basic ignores

/vendor
/node_modules

# Environment files
.env
.env.backup
.env.production

# Laravel storage & cache
# Laravel cache & compiled files
/public/build
/public/hot

# PHPUnit
.phpunit.cache
.phpunit.result.cache

# IDE and editor folders
/.idea
/.vscode
/.fleet

# Composer & npm logs and metadata
auth.json
npm-debug.log
yarn-error.log

# Homestead files (Laravel VM)
Homestead.json
Homestead.yaml
